.product {
  max-width: 800px;
  margin: 20px auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 15px 10px;
    background: #fff2;
    border-radius: 20px;
    padding: 20px 30px;

    .column {
      width: 450px;
    }

    img {
      height: 350px;
      object-fit: cover;
      width: 100%;
      min-height: 200px;
      margin: 10px auto;
      display: block;
    }
  }

  .compose {
    text-align: start;
    list-style: disclosure-closed;
    padding: 0 25px;
  }


  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    padding: 0 10px;
  }

  h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
  }
}

