
.container {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.container .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px 10px;
  background: #fff2;
  border-radius: 20px;
  padding: 15px;
  width: 300px;
  height: 450px;
}

.container .wrapper img {
  height: 200px;
  object-fit: cover;
  width: 200px;
}