::selection {
  background-color: #555;
}

input[type='text'], button {
  background-color: #fff3;
  border: 0;
  padding: 5px 15px;
  width: 120px;
  outline: none;
  height: 40px;
  border-radius: 20px;
  color: #fff;
  margin: 0px 5px;
}

button:active {
  background-color: #fff5;
}
