{% extends 'layout.html' %}

{% block body %}
<!-- <div class="sw-input"> -->
<div class="wrapper">
  <h3>Pollo a la Broaster</h3>
  <img src="static\products\PolloBroaster.jpg" alt="" width="200">
  <p>1 porción arroz (graneado), 1 porción de fideo, 1 porción papa (Frita), 1 presa de pollo (Broaster)</p>
  <button>Mas info...</button>
</div>

<div class="wrapper">
  <h3>Pollo al Spiedo</h3>
  <img src="static\products\PolloSpiedo.jpg" alt="" width="200">
  <p>1 porción arroz (graneado), 1 porción de fideo, 1 porción papa (Frita), 1 presa de pollo (Espiedo)</p>
  <button>Mas info...</button>
</div>

<div class="Sillpancho">
  <h3>Milanesa</h3>
  <img src="static/products/silpancho.jpg" alt="" width="200">
  <p>1 porción arroz (graneado), 1 porción papa (Frita), 1 huevo, 1 carne (apanada), 1 porción Ensalada (Cebolla, Locoto, Tomate, Zanahoria).</p>
  <button>Mas info...</button>
</div>

<div class="wrapper">
  <h3>Milanesa</h3>
  <img src="static\products\Milanesa.jpg" alt="" width="200">
  <p>1 porción arroz (graneado), 1 porción papa (frita), 1 carne (Milanesa), 1 porción Ensalada (Tomate)</p>
  <button>Mas info...</button>
</div>

<div class="wrapper">
  <h3>Chuleta</h3>
  <img src="static\products\Chuleta.jpg" alt="" width="200">
  <p>1 porción arroz (graneado), 1 porción papa (Frita), 1 carne (Chuleta)</p>
  <button>Mas info...</button>
</div>

{% endblock %}