{% extends 'layout.html' %}

{% block body %}
<!-- <div class="sw-input"> -->
<div class="wrapper">
  <h3>Silpancho</h3>
  <img src="/static/img/silpancho.jpg" alt="" width="200">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores ad repudiandae quia natus deserunt magnam iste facilis optio voluptate, perspiciatis excepturi adipisci dicta iure dolorem quae! Laudantium omnis necessitatibus cupiditate.</p>
</div>

<div class="wrapper">
  <h3>Silpancho</h3>
  <img src="/static/img/silpancho.jpg" alt="" width="200">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores ad repudiandae quia natus deserunt magnam iste facilis optio voluptate, perspiciatis excepturi adipisci dicta iure dolorem quae! Laudantium omnis necessitatibus cupiditate.</p>
</div>

<div class="wrapper">
  <h3>Silpancho</h3>
  <img src="/static/img/silpancho.jpg" alt="" width="200">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores ad repudiandae quia natus deserunt magnam iste facilis optio voluptate, perspiciatis excepturi adipisci dicta iure dolorem quae! Laudantium omnis necessitatibus cupiditate.</p>
</div>
{% endblock %}